<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../public/scripts/flex-script.js"></script>


    <title>align-self</title>
</head>

<body>
    <header>

        <ul class="header">

            <li><a href="../index.html">flex-home</a></li>
            <li><a href="/views/slide-1.html">flex-container</a></li>
            <li><a href="/views/slide-2.html">ejes en Flexbox</a></li>
            <li><a href="/views/slide-3.html">flex-direction</a></li>
            <li><a href="/views/slide-4.html">flex-wrap</a></li>
            <li><a href="/views/slide-5.html">justify-content</a></li>
            <li><a href="/views/slide-6.html">align-items</a></li>
            <li><a href="/views/slide-7.html">flex-items</a></li>
            <li><a href="/views/slide-8.html">flex-grow</a></li>
            <li><a href="/views/slide-9.html">align-self</a></li>
            <li><a href="/views/slide-10.html">Desafíos extra!</a></li>
        </ul>

    </header>
    <main class="main-container">


        <div class="left-panel">
            <h1 id="taskName">align-self<button id="taskFinished" class="hidden"
                    data-task="align-self">Correcto!</button></h1>
            <button id="toggleImg">Cerrar imagen</button>
            <img src="../public/img/PdfFlexbox_Página_10.jpg" alt="" id="img">
            <div class="instructionsContainer">
                <h1 id="instructions">Agrego 4 flex items y los acomodo como el ejemplo</h1>
                <div class="createFlexItemContainer">
                    <button role="button" class="createFlexItem addFlexButton" id="1">Flex-item 1</button>
                    <button role="button" class="createFlexItem addFlexButton" id="2">Flex-item 2</button>
                    <button role="button" class="createFlexItem addFlexButton" id="3">Flex-item 3</button>
                    <button role="button" class="createFlexItem addFlexButton" id="4">Flex-item 4</button>
                    <button role="button" class="createFlexItem addFlexButton" id="5">Flex-item 5</button>
                    <button role="button" class="createFlexItem addFlexButton" id="6">Flex-item 6</button>
                </div>
                <label class="selector" for="flexContainer">
                    .flex-container {
                </label>
                <textarea name="flexContainer" id="flexContainer" class="flexProperties" cols="30" rows="10"></textarea>
                <div class="selector">}</div>
                <div id="flex-items-input-container"></div>
            </div>
        </div>
        <div class="fill-container relative">
            <div class="absolute w-100">
                <div class="background-flex-container" style="display: flex; justify-content: flex-end; ">
                    <div class="item background-item item-1" style="align-self: flex-start; flex-grow: 1;">1</div>
                    <div class="item background-item item-2" style="align-self: center;">2</div>
                    <div class="item background-item item-3" style="align-self: flex-end;">3</div>
                    <div class="item background-item item-4">4</div>
                </div>
            </div>
            <div class="absolute on-top w-100">
                <div class="foreground-flex-container">

                </div>
            </div>
        </div>


    </main>
</body>

</html>