<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../public/scripts/flex-script.js"></script>


    <title>Recursos extra</title>
</head>

<body>
    <header>

        <ul class="header">

            <li><a href="../index.html">flex-home</a></li>
            <li><a href="/views/slide-10.html">¡Desafíos extra!</a></li>
            <li><a href="/views/slide-11.html">70 / 30</a></li>
            <li><a href="/views/slide-12.html">4 por línea</a></li>
            <li><a href="/views/slide-13.html">2 por línea</a></li>
            <li><a href="/views/slide-14.html">Recursos extra</a></li>

        </ul>

    </header>
    <main class="main-container">


        <div class="left-panel">
            <h1 id="taskName">Recursos extra</h1>
            <div class="instructionsContainer">
                <h1 id="instructions">Podés encontrar recursos y sitios de interés sobre flexbox en los hipervínculos de
                    los flex items </h1>
            </div>
            <img src="../public/img/flexbox-css-1200x600.png" alt="" id="img" id="img">
        </div>
        <div class="fill-container relative">
            <div class="absolute w-100">
                <div class="background-flex-container" style="display: flex; flex-direction: column;">
                    <div class="item foreground-item item-1" style="width: 100%;"><a
                            href="https://developer.mozilla.org/es/docs/Learn/CSS/CSS_layout/Flexbox" target="_blank">
                            MDN

                        </a></div>
                    <div class="item foreground-item item-2" style="width: 100%;"><a
                            href="https://www.w3schools.com/css/css3_flexbox.asp" target="_blank">
                            W3Schools
                        </a></div>
                    <div class="item foreground-item item-3" style="width: 100%;"><a
                            href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">
                            CheatSheet
                        </a></div>
                    <div class="item foreground-item item-4" style="width: 100%;"><a
                            href="https://mastery.games/flexboxzombies/" target="_blank">
                            Zombies
                        </a></div>
                    <div class="item foreground-item item-5" style="width: 100%;"><a
                            href="https://github.com/LuiosDyet/flex-presentation" target="_blank">
                            Esta presentación
                        </a></div>
                </div>
            </div>
        </div>


    </main>
</body>

</html>