* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    --color-1: #465298;
    --color-2: #985946;
    --color-3: #5c9846;
    --color-4: #98468c;
    --color-5: #8e9846;
    --color-6: #469885;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: #2e353f;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 90%;
    background-color: transparent;
    padding: 0px 1rem;
    margin: auto;
}

.header li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-decoration: none;

    border: var(--color-2) 5px dashed;
    flex: 1 0 160px;
    text-align: center;
}

.header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: auto;
    justify-content: center;
}

.burger-sidebar,
.sidebar {
    display: none;
}

@media (min-width: 1024px) {
    .burger-sidebar {
        list-style: none;
        display: inline-block;
        margin: 5px;
        padding: 5px 20px;
        text-decoration: none;
        cursor: pointer;
        border: var(--color-2) 5px dashed;
        text-align: center;
        background-color: #2e353f;
        color: white;
    }

    .sidebar {
        display: block;
        visibility: hidden;
        z-index: 10;
        background-color: #2e353f;
        padding: 1rem;
        margin: 1rem;
        width: max-content;
        max-width: 200px;
        border: var(--color-2) 5px dashed;
    }

    .sidebar-open {
        visibility: visible;
    }

    .sidebar h3 {
        font-size: 1rem;
        color: white;
        margin: 0px;
        padding: 0px;
    }

    .sidebar li {
        list-style: none;
        display: inline-block;
        margin: 5px;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        width: 100%;
    }
    .ready {
        color: #5c9846;
    }
    .working {
        color: #984646;
    }
}

.left-panel {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .left-panel {
        max-width: 40%;
    }
}

.left-panel #taskName {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-1);
    margin-bottom: 1rem;
    display: inline;
}

.left-panel #nameInput {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-1);
    margin-bottom: 1rem;
}

.userNameContainer {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    display: none;
}

.left-panel #setName,
.addFlexButton,
.userNameContainer #logout,
#finishTaskNotification,
#toggleImg {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-size: 10px;
    height: 26px;
    justify-content: center;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#finishTaskNotification {
    background-image: linear-gradient(#2c9051, #0b8700);
    font-size: 16px;
    height: 24px;
    margin-left: 1rem;
}

.left-panel #setName:hover,
.addFlexButton:hover,
.userNameContainer #logout:hover,
#finishTaskNotification:hover,
#toggleImg:hover {
    box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
    opacity: 0.85;
}

.left-panel #setName:active,
.addFlexButton:active,
.userNameContainer #logout:active,
#toggleImg:active {
    outline: 0;
}

.left-panel #setName:focus,
.addFlexButton:focus,
.userNameContainer #logout:focus #toggleImg:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .left-panel #setName,
    .addFlexButton,
    .userNameContainer #logout,
    #toggleImg {
        height: 16px;
    }
}

.left-panel img {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    transition: all 1s ease;
    z-index: 2;
}

.left-panel img:hover {
    transform: scale(2) translate(6vw, 6vh);
}

#toggleImg {
    margin-bottom: 1rem;
}

.collapsed {
    display: none;
}

.left-panel .instructionsContainer {
    margin-bottom: 1rem;
}

.left-panel #instructions {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-2);
    margin-bottom: 1rem;
}

.left-panel .selector {
    display: block;
    font-size: 1.5em;
    color: var(--color-3);
}

.left-panel textarea {
    padding: 0.5rem 0 0 2rem;
    height: 6rem;
    font-size: 1.5em;
    color: var(--color-3);
    background-color: #25292e;
}

.left-panel .hidden {
    visibility: hidden;
}

.createFlexItemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: auto;
}

.addFlexButton {
    margin: 0 0.5rem 0.5rem;
}

#flex-items-input-container {
    display: flex;
    flex-wrap: wrap;
}

#flex-items-input-container > div {
    width: 45%;
    margin: 0.5rem;
}

#flex-items-input-container > div > textarea {
    width: 100%;
}

.fill-container {
    height: 90%;
    width: 90%;
    min-height: 400px;
}

@media (min-width: 1024px) {
    .fill-container {
        max-width: 40%;
    }
}
.relative {
    border: salmon 10px dashed;
    position: relative;
    margin-top: 1rem;
    max-height: 608px;
}
.absolute {
    position: absolute;
}

.w-100 {
    width: 100%;
    height: 100%;
}

.on-top {
    z-index: 1;
}

.managed-flex-container,
.example-flex-container {
    height: 100%;
    width: 100%;
}

.managed-item,
.example-item {
    width: 100px;
}

.example-item {
    opacity: 0.2;
}

.managed-item {
    opacity: 0.6;
}

.managed-item a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
}

.item {
    color: white;
    text-shadow: black 0px 0px 10px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.item-1 {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        var(--color-1) 10px,
        var(--color-1) 20px
    );
    border: var(--color-1) solid 1px;
}
.item-2 {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        var(--color-2) 10px,
        var(--color-2) 20px
    );
    border: var(--color-2) solid 1px;
}
.item-3 {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        var(--color-3) 10px,
        var(--color-3) 20px
    );
    border: var(--color-3) solid 1px;
}
.item-4 {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        var(--color-4) 10px,
        var(--color-4) 20px
    );
    border: var(--color-4) solid 1px;
}
.item-5 {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        var(--color-5) 10px,
        var(--color-5) 20px
    );
    border: var(--color-5) solid 1px;
}
.item-6 {
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 10px,
        var(--color-6) 10px,
        var(--color-6) 20px
    );
    border: var(--color-6) solid 1px;
}
