<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/toggle-flex-items.js"></script>
    <script src="/scripts/set-css-rules-from-input-field.js"></script>
    <script src="/scripts/toggle-img.js"></script>
    <script src="/scripts/websocket.js"></script>
    <script src="/scripts/sidebar.js"></script>


    <title>¡Desafíos extra!</title>
</head>

<body>
    <header>

        <ul class="header">
            <button class="burger-sidebar"><i class="fa fa-bars"></i></button>

            <li><a href="/">flex-home</a></li>
            <li><a href="/slide-10">¡Desafíos extra!</a></li>
            <li><a href="/slide-11">70 / 30</a></li>
            <li><a href="/slide-12">4 por línea</a></li>
            <li><a href="/slide-13">2 por línea</a></li>
            <li><a href="/slide-14">Recursos extra</a></li>

        </ul>

    </header>
    <main class="main-container">
        <nav class="sidebar">
            <h3>Tarea finalizada: <span id="finished"></span></h3>
            <ul id="namesList">
            </ul>
        </nav>


        <div class="left-panel">
            <h1 id="taskName">¡Desafíos extra!<button id="finishTaskNotification" class="hidden"
                    data-task="desafios-extra">¡Terminé!
            </h1>
            <div class="instructionsContainer">
                <h2 id="instructions">A continuación una serie de desafíos para practicar para nuestra practica del día.
                    En este primero debés dividir la pantalla en 4 sectores. Probablemente tengas que usar alguna
                    propiedad extra al flex.</h2>
                <div class="createFlexItemContainer">
                    <button role="button" class="createFlexItem addFlexButton" id="1">Flex-item 1</button>
                    <button role="button" class="createFlexItem addFlexButton" id="2">Flex-item 2</button>
                    <button role="button" class="createFlexItem addFlexButton" id="3">Flex-item 3</button>
                    <button role="button" class="createFlexItem addFlexButton" id="4">Flex-item 4</button>
                    <button role="button" class="createFlexItem addFlexButton" id="5">Flex-item 5</button>
                    <button role="button" class="createFlexItem addFlexButton" id="6">Flex-item 6</button>
                </div>
                <label class="selector" for="flexContainer">
                    .flex-container {
                </label>
                <textarea name="flexContainer" id="flexContainerRules" class="flexElementRules" cols="30"
                    rows="10"></textarea>
                <div class="selector">}</div>
                <div id="flex-items-input-container"></div>
            </div>
        </div>
        <div class="fill-container relative">
            <div class="absolute w-100">
                <div class="example-flex-container" style="display: flex; flex-wrap: wrap; ">
                    <div class="item example-item item-1" style="width: 50%; order: 1;">1</div>
                    <div class="item example-item item-2" style="width: 50%;">2</div>
                    <div class="item example-item item-3" style="width: 50%;">3</div>
                    <div class="item example-item item-4" style="width: 50%;">4</div>
                </div>
            </div>
            <div class="absolute on-top w-100">
                <div class="managed-flex-container">

                </div>
            </div>
        </div>


    </main>
</body>

</html>